---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
    <div class="contact-me-footer">
      <p>What do you think? If you have any questions, thoughts, or comments on the post I'd love to hear them. Email me at {{site.email}} and I promise I'll get back to you :)</p>
    </div> 
  </article>

</div>
